.header{
    text-align: center;
    font-weight: bold;
    font-family: 'Eras Medium ITC', Courier New, Courier, monospace;
    font-size: 45px;
    padding-bottom: 45px;
    padding-top: 45px;

}

.navbar-nav{
  display: inline;
  padding-right: 30px;
  text-align: left;
}
footer{
    text-align: center;
}

.navbar {
    background-color: #7400ff;
    text-align: right;
  }
  .navbar .navbar-brand {
    color: #fdfafa;
  }
  .navbar .navbar-brand:hover,
  .navbar .navbar-brand:focus {
    color: #cacaca;
  }
  .navbar .navbar-text {
    color: #fdfafa;
  }
  .navbar .navbar-text a {
    color: #cacaca;
  }
  .navbar .navbar-text a:hover,
  .navbar .navbar-text a:focus {
    color: #cacaca; 
  }
  .navbar .navbar-nav .nav-link {
    color: #fdfafa;
    border-radius: .25rem;
    margin: 0 0.25em;
    
  }
  .navbar .navbar-nav .nav-link:not(.disabled):hover,
  .navbar .navbar-nav .nav-link:not(.disabled):focus {
    color: #cacaca;
  }
  .navbar .navbar-nav .nav-item.active .nav-link,
  .navbar .navbar-nav .nav-item.active .nav-link:hover,
  .navbar .navbar-nav .nav-item.active .nav-link:focus,
  .navbar .navbar-nav .nav-item.show .nav-link,
  .navbar .navbar-nav .nav-item.show .nav-link:hover,
  .navbar .navbar-nav .nav-item.show .nav-link:focus {
    color: #cacaca;
    background-color: #c0392b;
  }
  .navbar .navbar-toggle {
    border-color: #c0392b;
  }
  .navbar .navbar-toggle:hover,
  .navbar .navbar-toggle:focus {
    background-color: #c0392b;
  }
  .navbar .navbar-toggle .navbar-toggler-icon {
    color: #fdfafa;
  }
  .navbar .navbar-collapse,
  .navbar .navbar-form {
    border-color: #fdfafa;
  }
  .navbar .navbar-link {
    color: #fdfafa;
  }
  .navbar .navbar-link:hover {
    color: #cacaca;
  }

  html {
    scroll-behavior: smooth;
  }

  #logo {
    margin: 60px  0px 10px; /* play with these to position the image */
    position: absolute;
    z-index: 100;
    width: 300px;
    }  

    .CPU{
      position: absolute;
      z-index: 100;
      margin: -40px  20px 30px; /* play with these to position the image */
      width:500px;
      word-wrap:break-word;
      border:thin black solid;
    }

    .CPU_sales{
      position: absolute;
      z-index: 100;
      margin: -40px  100px 30px; /* play with these to position the image */
      width:500px;
      word-wrap:break-word;
      border:thin black solid;
    }


    .PSU{
      position: absolute;
      z-index: 100;
      margin: -40px  640px 30px; /* play with these to position the image */
      width:500px;
      word-wrap:break-word;
      border:thin black solid;
    }

    .PSU_sales{
      position: absolute;
      z-index: 100;
      margin: -40px  680px 30px; /* play with these to position the image */
      width:500px;
      word-wrap:break-word;
      border:thin black solid;
    }

    .Case{
      position: absolute;
      z-index: 100;
      margin: 250px  640px 30px; /* play with these to position the image */
      width:500px;
      word-wrap:break-word;
      border:thin black solid;

    }

    .GPU{
      position: absolute;
      z-index: 100;
      margin: 250px  20px 30px; /* play with these to position the image */
      width:500px;
      word-wrap:break-word;
      border:thin black solid;

    }

    .GPU_sales{
      position: absolute;
      z-index: 100;
      margin: 350px  100px 30px; /* play with these to position the image */
      width:500px;
      word-wrap:break-word;
      border:thin black solid;

    }
    
    .Motherboard{
      position: absolute;
      z-index: 100;
      margin: 600px  20px 30px; /* play with these to position the image */
      width:500px;
      word-wrap:break-word;
      border:thin black solid;

    }
    .Motherboard_sales{
      position: absolute;
      z-index: 100;
      margin: 350px  680px 30px; /* play with these to position the image */
      width:500px;
      word-wrap:break-word;
      border:thin black solid;

    }

    .Ram{
      position: absolute;
      z-index: 100;
      margin: 600px  640px 30px; /* play with these to position the image */
       width:500px;
      word-wrap:break-word;
      border:thin black solid;
    }
    .jumbotron {
      background: #358CCE;
      color: #FFF;
      border-radius: 0px;
      }
      .jumbotron-sm { padding-top: 24px;
      padding-bottom: 24px; }
      .jumbotron small {
      color: #FFF;
      }
      .h1 small {
      font-size: 24px;
      }

     #pcbuildTitle{
      padding-left: 10px;
      letter-spacing: 2px;
     }

     .information p{
      padding-left: 5px;

     }
     